.Home {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("https://wallpaperaccess.com/full/267561.jpg");
}

audio {
  width: 100%;
  height: 15px;
}
    
audio::-webkit-media-controls-enclosure {
  background-color: rgb(155, 72, 53);
  border-radius: 0%;
}


@media (max-width: 850px)
{
  .Home {
    background-image: url("https://www.itl.cat/pngfile/big/30-308671_previous-wallpaper-infinity-war-wallpaper-phone.jpg");
}
}