.HeroCard {
    display: flex;
    flex-direction: column;
    background-image: url("https://i.ibb.co/gJxrnr8/beige-marvel-comics-pow-wallpaper-tgzk.jpg");
    background-repeat: repeat;
    height: 100%;
    overflow: auto;    
}

.filter {
    background-color: #a51f1f;
    height: 25px;
    border-right: 1px solid rgb(187, 0, 0);
    justify-content: space-around;
    display: flex;
    padding: 3px 15px;
}

.FieldCards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.Card {
    border: 3px solid rgb(0, 0, 0);
    justify-content: center;
    margin: 15px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

button {
    color: white;
    transition: background 0.8s;
    font-weight: bold;
    background-color: rgb(108,32,14);
    text-decoration: none;
    border: 1px solid;
    height: 24px;
    width: 80px;
    border-radius: 4px;
}

input {
    height: 18px;
    width: 80vw;
    border-radius: 10px;
}

.name {
    text-align: center;
    background-color:rgb(108,32,14);
    color: white;
    padding: 3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: background 0.5s;
    font-weight: bold;
}

.name:hover {
    background-color: rgb(187, 0, 0);
}