h1 {
    margin: 15px 0px 5px;
    color: rgb(108,32,14);
    font-size: 3em
}

.container {
    width: 75%;
    margin: 0 auto;
}

.character-img-series {
    display: flex;
    align-items: flex-start;
    margin: 0 0 15px
}

li:first-child {
    text-decoration: underline;
    font-weight: bold;
    list-style-type: none;
    color: rgb(108,32,14);
    font-size: 1.2em
}

.series-list {
    margin: 0;
}

.serie {
    list-style-type: none;
    padding: 5px 0;
    font-size: 1em;
}

.description {
    background-color: rgb(108,32,14);
    color: white;
    padding: 3px;
    font-size: 1.3em
}
