span {
    margin: 15px 0px 5px;
    color: white;
    font-size: 3em;
    background-color: rgb(108,32,14);
    font-weight: bold;
}

.background {
    background-image: url("https://i.ibb.co/gJxrnr8/beige-marvel-comics-pow-wallpaper-tgzk.jpg");
    background-repeat: repeat;
    height: 100%;
    overflow: auto;
}

#character-detail-img {
    width: 500px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.character-img-series {
    display: flex;
    align-items: flex-start;
    margin: 0 0 15px
}

li:first-child {
    text-decoration: underline;
    font-weight: bold;
    list-style-type: none;
    color: rgb(108,32,14);
    font-size: 1.2em
}

.series-list {
    margin: 0 0 10px;
}

.serie {
    list-style-type: none;
    padding: 5px 0;
    font-size: 1.1em;
}

.description {
    background-color: rgb(108,32,14);
    color: white;
    padding: 3px;
    font-size: 1.3em
}

.series-btn {
    background-color: rgb(108,32,14);
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: background 0.8s;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    margin: 0px 30px 20px;
    width: 360px;
    height:100px;
    border-radius: 30px;
}

.series-btn:hover {
        background-color: rgb(187, 0, 0);
        cursor: pointer;
}

.buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1200px)
{
    #character-detail-img {
        width: 60vw;
    }
    
    h1 {
        text-align: center;
    }

    .character-img-series {
        flex-direction: column;
        align-items: center;
        margin: 10px auto 
    }

    .series-btn {
        width: 40vw;
        height:60px;
        border-radius: 30px;
        margin-top: 20px
    }

    .description {
        font-size: 1.1em;
    }
}

@media (max-width: 340px) {
    .series-btn {
        font-size: 0.7em;
    }
}
